<%= simple_form_for @account, url: email_settings_path do |f| %>
  <div class="content-form">
    

    <%= f.input :email_header, label: 'E-mail header', input_html: {class: 'summernote'} %>
    <%= f.input :email_footer, label: 'E-mail footer', input_html: {class: 'summernote'} %>
  </div>

  <div class="content-form-footer">
    <button>Save</button>
  </div>
<% end %>
