<div class="page-head">
  <div class="caption">
    <div class="title-icon">
      <i class="icon fa fa-code"></i>
    </div>
    <div class="title">
      <h2>Header and Footer</h2>
    </div>
  </div>
  <div class="tools"></div>
</div>
