<% content_for(:subnav) { render 'email_notifications/subnav' } %>
<% content_for(:page_head) { render 'layouts/page_head', icon: 'icon fa fa-code', title: 'Header and Footer' } %>

<div class="content-block">
  <div class="content">
    <div class="content-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
