<% content_for(:subnav) { render 'email_notifications/subnav' } %>

<div class="content-block">
  <div class="content">
    <div class="content-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
