<a href="<%= tickets_assigned_to_me_path %>">
  <div class="widget-body widget-primary widget-number">
    <div class="data-info">
      <div class="value"><%= @data[:number_of_tickets] %></div>
      <div class="desc">Tickets assigned to me</div>
    </div>
    <div class="icon icon-primary">
      <i class="fa fa-ticket"></i>
    </div>
  </div>
</a>
