<div class="widget-heading widget-primary">
  <span class="call-center"><%= dashboard_widget_call_center_name(data) %></span>
  <span class="title">Open tickets</span>
</div>
<div class="widget-body widget-primary widget-numbers">
  <ul class="list-inline">
    <% data[:ticket_types].each do |ticket| %>
      <li>
        <span class="badge badge-<%= ticket_type_color(ticket) %>">
          <%= ticket.count %>
        </span>
        <%= ticket.ticket_type %>
      </li>
    <% end %>
  </ul>
</div>
