<div class="page-head">
  <div class="caption">
    <div class="title-icon">
      <i class="icon s7-users"></i>
    </div>
    <div class="title">
      <h2>Users</h2>
    </div>
  </div>
  <div class="tools"></div>
</div>
