<% content_for(:page_head) { render 'layouts/page_head', icon: 'zmdi zmdi-accounts-alt', title: 'Users' } %>

<div class="content-block">
  <div class="content">
    <div class="content-heading">
      <div class="caption">
        <div class="title">
          <h4>New User</h4>
        </div>
      </div>
      <div class="tools"></div>
    </div>
    <div class="content-body">
      <% if current_account.reached_user_limit? %>
        <div class="alert alert-warning">
          You have reached the maximum number of users you can have with your account level. You can either delete some of your users or <%= link_to 'upgrade your account', plan_account_path %> to be able to create a new user.
        </div>
      <% else %>
        <%= simple_form_for @user do |f| %>
          <div class="content-form">
            <%= render 'form', f: f %>
          </div>
          <%= save_and_cancel %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
