<%= content_for(:page_title) do %>
  Settings
<% end %>

<div class="am-content">
  <div class="page-head">
    <div class="caption">
      <div class="title-icon">
        <i class="icon fa fa-cogs"></i>
      </div>
      <div class="title">
        <h2>Settings</h2>
      </div>
    </div>
    <div class="tools"></div>
  </div>
  <div class="main-content">
    <div class="content-block content-block-padding">
      <% if policy(Role).index? %>
        <h3>User Management</h3>
        <ul class="list-inline list-settings">
          <%= settings_icon_for title: 'Roles',
                                icon: 'fa fa-lock',
                                url: roles_path %>
        </ul>
      <% end %>

      <% if policy(EmailNotification).index? || policy(Account).edit? %>
        <h3>E-mail Settings</h3>
      <% end %>
      <ul class="list-inline list-settings">
        <% if policy(Account).edit? %>
          <%= settings_icon_for title: 'Header and Footer',
                                icon: 'fa fa-code',
                                url: edit_email_settings_path %>
        <% end %>

        <% if policy(EmailNotification).index? %>
          <%= settings_icon_for title: 'Notifications',
                                icon: 'fa fa-bell-o',
                                url: email_notifications_path %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
