<% if policy(Role).index? %>
  <% content_for(:link_for_second_level_menu) do %>
    <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
  <% end %>
<% end %>

<div id="am-navbar-collapse" class="second-level-menu collapse navbar-collapse">
  <ul class="list-inline">
    <% if policy(Role).index? %>
      <li class="<%= active_when(true) %>">
        <%= link_to roles_path do %>
          <i class="icon s7-lock"></i><span>Roles</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
