<% content_for(:subnav) { render 'roles/nav' } %>

<div class="content-block">
  <div class="content">
    <div class="content-heading">
      <div class="caption">
        <div class="title">
          <h4>Edit Role "<%= @role.name %>"</h4>
        </div>
      </div>
      <div class="tools"></div>
    </div>
    <div class="content-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
