<a class="btn btn-circle btn-icon-only btn-primary"
   href="#"
   data-tooltip
   title="Add&nbsp;Dashboard&nbsp;Widget"
   data-placement="bottom"
   data-toggle="modal"
   data-target="#dashboard-widgets-modal">
  <i class="zmdi zmdi-plus"></i>
</a>

<a href="#"
   class="btn btn-circle btn-icon-only btn-warning btn-settings"
   data-tooltip
   title="Settings"
   data-placement="bottom">
  <i class="zmdi zmdi-settings"></i>
</a>
