<div class="widget-body widget-primary widget-number widget-settings">
  <div class="data-info">
    <div><div class="desc">Please configure the widget</div></div>
  </div>
  <div class="icon icon-primary" data-toggle="modal" data-target="#widget-settings-modal">
    <div><i class="zmdi zmdi-settings"></i></div>
  </div>
</div>
