<div class="am-content">
  <div class="page-head">
    <div class="caption">
      <div class="title-icon">
        <i class="icon zmdi zmdi-view-dashboard"></i>
      </div>
      <div class="title">
        <h2>Dashboard</h2>
      </div>
    </div>
    <div class="tools"></div>
  </div>
  <div class="main-content main-content-widgets">
    <div class="content-block content-block-widgets">
      <div class="grid-stack">
        <% if @widgets.any? %>
          <%= render partial: 'widget', collection: @widgets, as: :widget %>
        <% else %>
          <div class="empty-block text-center">
            <h4>No dashboard widgets...</h4>
            <hr>
            <p>Go ahead and add some relevant data to your dashboard.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
