<div id="am-navbar-collapse" class="second-level-menu collapse navbar-collapse">
  <ul class="list-inline">
    <li class="<%= active_when("roles") %>">
      <a href="<%= roles_path %>"><i class="icon s7-lock"></i><span>Roles</span></a>
    </li>
    <li class="<%= active_when("users") %>">
      <a href="<%= users_path %>"><i class="icon s7-users"></i><span>Users</span></a>
    </li>
  </ul>
</div>
